.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.sidebar{
  border: 2px solid black;
  border-radius: 5px;
  margin: 30px;
  background-color: cyan;
  overflow:auto;
  height: 630px;
 
}
#flexCheckDefault{
  margin-left: 10px;
}
.form-check{
  padding: 5px;
 
  /* overflow: auto; */
}
.cards{
  border: 2px solid black;
  border-radius: 5px;
  background-color: #61dafb;
  display: inline-block;
  margin: 1rem;
  padding: 1rem;
  width: 20%;
  flex-wrap: wrap;
}
/* .main_cards{
  display: flex;
} */

.main_menu{
  background-color: aliceblue;
  border: 2px solid black;
}
.containers{
  /* background-color: rgb(22, 252, 240); */
  width: 100%;
  height: 650px;
  border: 2px solid black;
}
.menus{
  /* background-color: cornflowerblue; */
  border: 2px solid black;
  border-radius: 5px;
  margin: 10px;
  height: 620px;
  
}
.text-primary-p{
  font-size: large;
  font-weight: 700;
}
.left_chart{
  border: 2px solid black;
  width: 550px;
  height: 400px;
  margin: 15px;
  border-radius: 5px;
}
.right_chart{
  border: 2px solid black;
  width: 550px;
  height: 400px;
  margin: 15px;
  border-radius: 5px;
}
/* .sidebar_menu{
  overflow: auto;
} */
.row{
  flex-wrap:nowrap;
}